body {
    background-color: #0A0A0A;
}
body a:hover{
    color: #5D5D5D;
}
body h4 {
    color: #DADADA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-top: -1rem;
}
.hr {
    background: rgba(127, 127, 127, 0.2);
    border: 0;
    height: 1px;
    display: block;
}
.header {
    margin: 0 auto;
    max-width: 99%;
}
.point {
    margin: 0 auto;
    max-width: 99%;
}
.footer {
    margin: 0 auto;
    max-width: 98%;
}

/* <>-<>-<>-<>-<> header-grid <>-<>-<>-<>-<> */

.header-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.header-bozhik3 { 
    color: #DADADA;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    font-size: 1.4rem;
}
.header-bozhik3 a { 
    color: #DADADA;
}
.header-bozhik3 span{
    position: relative;  
    transition: .1s;
    user-select: none;
  }
.header-bozhik3 span:hover{
    color:transparent;
  }
.header-bozhik3 span:before{
    position: absolute;
    left:0;
    width:100%;
    height:100%;
    content:attr(data-replace);
    color:transparent;
    transition:.1s;
  }
.header-bozhik3 span:hover:before{
    color: #5D5D5D;
  }

.header-works3 {
    padding: 0.7rem;
    padding-left: 20rem;
    font-size: 1.4rem;
}
.header-works3 a { 
    color: #DADADA;
}
.header-cv3 {
    text-align: right;
    padding: 0.7rem;
    font-size: 1.4rem;
}
.header-cv3 a { 
    color: #5D5D5D;
}

/* <>-<>-<>-<>-<> task-grid <>-<>-<>-<>-<> */


.point-grid {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: repeat(11, 0.5rem);
    border: 2px dashed rgb(165, 143, 70);
}
.point-gridd {
    display: grid;
    grid-template-columns: 25% 25% 15% 35%;
    grid-template-rows: repeat(11, 0.5rem);
    border: 2px dashed rgb(165, 143, 70);
    height: 38rem;
}
.point div {
    border: 2px dashed rgba(167, 133, 21, 0);
}
.point hr {
    background: rgba(127, 127, 127, 0.2);
    border: 0;
    height: 1px;
    display: block;
}
.h3 {
    height: 4.5rem;
}
.point-grid div {
    height: 4.5rem;
}
@media (min-width: 1054px) {
    .point-grid div { padding-bottom: 5.5rem; }
  }

.hide {
    opacity: 0;
    
}
/* <>-<>-<>-<>-<> footer-grid <>-<>-<>-<>-<> */

.footer-grid-cv {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.1fr 0.5fr;
    grid-template-rows: 1fr;
    margin-bottom: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/* .footer-grid div {
    border: 2px dashed rgb(109, 167, 21);
} */
.footer-grid-cv a {
    color: #DADADA;
}
.footer-link {
    padding-top: 1rem;
}
.footer-mail {
    padding-top: 1rem;
}
.footer-telegram {
    padding-top: 1rem;
    padding-left: 10rem;
}
.footer-cv {
    padding-top: 1rem;
    text-align: right;
}
