body {
    background-color: #0A0A0A;
}
body a:hover{
    color: #5D5D5D;
}
body h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 390%;
    margin-bottom: -1rem;
    max-width: 50%;
    margin-right: 0;
}
body h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: -1rem; 
    max-width: 90%;
    margin-bottom: 2rem;
}
body img {
    max-width: 100%;
}
.header {
    margin: 0 auto;
    max-width: 99%;
}
.item {
    margin: 0 auto;
    max-width: 98%;
}
.footer {
    margin: 0 auto;
    max-width: 98%;
}

/* <>-<>-<>-<>-<> header-grid <>-<>-<>-<>-<> */

.header-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
/* .header-grid a {
    color: #DADADA;
} */
.header-bozhik { 
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    font-size: 1.4rem;
}
.header-bozhik a { 
    color: #DADADA;
}
.header-bozhik span{
    position: relative;  
    transition: .1s;
    user-select: none;
  }
.header-bozhik span:hover{
    color:transparent;
  }
.header-bozhik span:before{
    position: absolute;
    left:0;
    width:100%;
    height:100%;
    content:attr(data-replace);
    color:transparent;
    transition:.1s;
  }
.header-bozhik span:hover:before{
    color: #5D5D5D;
  }
.header-works {
    padding: 0.7rem;
    padding-left: 20rem;
    font-size: 1.4rem;
}
.header-works a { 
    color: #DADADA;
}
.header-cv {
    text-align: right;
    padding: 0.7rem;
    font-size: 1.4rem;
}
.header-cv a { 
    color: #DADADA;
}

/* <>-<>-<>-<>-<> item-grid <>-<>-<>-<>-<> */

.item-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "skull nft"
                         "geek usb"
                         "promo inter"
                         "anim smpl"
                         "star marshal"
                         "comp comp";
    grid-column-gap: 0.8rem;
    grid-row-gap: 1rem;
}
.item-grid div {
    /* border: 2px dashed rgb(109, 167, 21); */
    color: #DADADA;
}
.item-skull {
    grid-area: skull;
}
.item-nft {
    grid-area: nft;
}
.item-geek {
    grid-area: geek;
}
.item-usb {
    grid-area: usb;
}
.item-inter {
    grid-area: inter;
}
.item-anim {
    grid-area: anim;
}
.item-smpl {
    grid-area: smpl;
}
.item-star {
    grid-area: star;
}
.item-marshal {
    grid-area: marshal;
}
.item-comp {
    grid-area: comp;
}

/* <>-<>-<>-<>-<> footer-grid <>-<>-<>-<>-<> */

.footer-grid {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin-bottom: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/* .footer-grid div {
    border: 2px dashed rgb(109, 167, 21);
} */
.footer-grid a {
    color: #DADADA;
}

.footer-cv {
    padding-top: 1rem;
    text-align: right;
}
