@media (max-width: 1920px) {
  html { font-size: 16px; }
  .footer-grid-works {
    padding-top: 7.5rem;
}
  /* body {background-color: rgb(38, 148, 148);} */
}
@media (max-width: 1366px) {
  html { font-size: 13px;}
  .footer-grid-works {
    padding-top: 3.5rem;}
  .geek-grid {
    grid-column-gap: 9px;
    grid-row-gap: 9px;}
  .comp-grid {
    grid-column-gap: 9px;
    grid-row-gap: 9px;}
  .mrhl-grid {
    grid-column-gap: 9px;
    grid-row-gap: 9px;}
  .star-grid {
    grid-column-gap: 9px;
    grid-row-gap: 9px;}
  /* body {background-color: rgb(255, 0, 179);} */
}
@media (max-width: 768px) {
  html { font-size: 10px; }
  /* body {background-color: rgb(255, 102, 0);} */
  .item {
    padding-right: 0px;}
  .item-grid {
    display: flex;
    flex-direction: column;}
  .item-grid div {
    padding-bottom: 5px;
    max-width: 100%; }
  .header-works {
    color: #DADADA;
    padding: 0.7rem;
    padding-left: 10rem;
    font-size: 1.4rem;
  }
  .header-works2 {
    color: #DADADA;
    padding: 0.7rem;
    padding-left: 10rem;
    font-size: 1.4rem;
  }
  .header-works3 {
    color: #DADADA;
    padding: 0.7rem;
    padding-left: 10rem;
    font-size: 1.4rem;
  }
  .footer-grid-works {
    padding-top: 10.5rem;
}
  .geek-grid {
    grid-column-gap: 5px;
    grid-row-gap: 5px;}
  .comp-grid {
    grid-column-gap: 5px;
    grid-row-gap: 5px;}
  .mrhl-grid {
    grid-column-gap: 5px;
    grid-row-gap: 5px;}
  .star-grid {
    grid-column-gap: 5px;
    grid-row-gap: 5px;}
}
@media (max-width: 400px) {
  html { font-size: 5px; }
  /* body {background-color: rgb(36, 114, 53);} */
  .item-grid {
    display: flex;
    flex-direction: column;}
  .item-grid div {
    padding-bottom: 5px;
    max-width: 100%; }
  .header-works {
    color: #DADADA;
    padding: 0.7rem;
    padding-left: 10rem;
    font-size: 1.4rem;
  }
  .geek-grid {
    grid-column-gap: 4px;
    grid-row-gap: 4px;}
  .comp-grid {
    grid-column-gap: 4px;
    grid-row-gap: 4px;}
  .mrhl-grid {
    grid-column-gap: 4px;
    grid-row-gap: 4px;}
  .star-grid {
    grid-column-gap: 4px;
    grid-row-gap: 4px;}
}
@media (max-width: 150px) {
  html { font-size: 5px; }
  /* body {background-color: rgb(36, 114, 53);} */
  .header-works {
    color: #DADADA;
    padding: 0.7rem;
    padding-left: 3rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 374px) {
  html { font-size: 5px; }
  /* body {background-color: rgb(36, 114, 53);} */
}