---
import TextMono from './TextMono.astro'
---

<div class="flex items-center justify-center gap-3">
  <div class="rounded-full w-7 h-7 bg-custom-light-1">
    <div class="w-full h-full bg-white border-[5px] rounded-full border-custom-light-1 animate-pulse"></div>
  </div>
  <TextMono content="AVAILABLE FOR FREELANCE" classes="" />
</div>
