<a href="#HERO_CONTENT" class="mb-[10vh] flex gap-10 items-center justify-center">
  <svg class="s-10 animate-pulse hover:animate-bounce" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#6a6a6a" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 184l144 144 144-144"></path></svg>
</a>
