---
import ArrowDown from './HeroArrow.astro'
import Title from './HeroTitle.astro'
import TextMono from '../UI/TextMono.astro'

interface Props {
  textmono_content: string
}

const {textmono_content} = Astro.props

const screenHeight = '!h-[75svh] h-[75vh] mb-[6.5vh]'
---

<div class={`w-full inset-0 flex flex-col justify-center mx-auto text-center ${screenHeight}`}>
  <Title />
  <TextMono content={textmono_content} classes="lg:w-4/5 mx-auto leading-[110%] xl:mt-4 mt-7" />
</div>
<ArrowDown />
