---
interface Props {
  content: string
  classes: string
}

const {content} = Astro.props
const {classes} = Astro.props
---

<div class=`text-[23px] uppercase font-normal font-monospaced ${classes}`>{content}</div>
