---
import Layout from '../layouts/Layout.astro'
import HeaderMin from '../components/Header/HeaderMin.astro'
import Badge from '../components/UI/Badge.astro'

const pageData = {
  page_path: 'works',
  description: 'Привет! Я - веб-разработчик и дизайнер, занимаюсь созданием креативных и функциональных веб-сайтов. Мои проекты сочетают в себе уникальный дизайн и высокую производительность, чтобы помочь вашему бизнесу выделиться в онлайн-мире. Посмотрите мое портфолио, чтобы узнать больше о моих навыках и достижениях в веб-разработке и дизайне. Я являюсь фрилансером с более 3 годами опыта работы.',
}

import TextMono from '../components/UI/TextMono.astro'
---

<Layout page_path={pageData.page_path} description={pageData.description}>
  <HeaderMin />

  <section class="inset-0 flex flex-col justify-center h-screen mx-auto text-center">
    <TextMono transition="hero_text" content="привет! мое резюме в разработке.." classes="lg:w-4/5 mx-auto leading-[110%] text-white sm:text-xl mt-0 text-gray-500" />
    <div class="mt-5 flex sm:flex-wrap gap-2 justify-center">
      <a href="https://astro.build/" target="_blank">
        <Badge text="Astro" icon="/tech/astro.svg" classes="hover:scale-105 duration-300 cursor-pointer" />
      </a>
      <a href="https://react.dev/" target="_blank">
        <Badge text="React" icon="/tech/react.svg" classes="hover:scale-105 duration-300 cursor-pointer" />
      </a>
      <a href="https://www.typescriptlang.org/" target="_blank">
        <Badge text="Typescript" icon="/tech/typescript.svg" classes="hover:scale-105 duration-300 cursor-pointer" />
      </a>
      <a href="https://tailwindcss.com/" target="_blank">
        <Badge text="Tailwind" icon="/tech/tailwind.svg" classes="hover:scale-105 duration-300 cursor-pointer" />
      </a>
      <a href="https://vitejs.dev/" target="_blank">
        <Badge text="Vite" icon="/tech/vite.svg" classes="hover:scale-105 duration-300 cursor-pointer" />
      </a>
    </div>
    <div class="flex flex-col mt-14 gap-3">
      <TextMono transition="hero_text" content="Заказать создание сайта ↓" classes="lg:w-4/5 mx-auto leading-[110%] !text-purple-400 text-white sm:text-xl mt-0 text-gray-500" />
      <a transition:name="hero_btn" href="/contacts/">
        <Badge text="Заказать разработку сайта →" icon="" classes="hover:scale-105 duration-300 cursor-pointer mx-auto sm:mt-1 mt-5 px-3 animate-pulse" />
      </a>
    </div>
  </section>
</Layout>
