---
import MenuIcon from './MenuIcon.astro'
---

<div class="justify-self-end">
  <div class="flex items-center justify-center rounded-full s-16 sm:s-[52px] bg-custom-dark-1">
    <button class="z-10 w-1/2 text-xl text-white bg-transparent">
      <div class="grid place-items-center">
        <MenuIcon />
      </div>
    </button>
  </div>
</div>

<style is:global>
  button:hover path {
    transition: all 0.3s ease;
    stroke: white;
  }
</style>
