---
const firstButton = 'Projects'
const secondButton = 'Works'
---

<div class="justify-self-center">
  <div class="relative flex w-[205px] px-2 lg:w-[145px] lg:h-[52px] h-[60px] bg-custom-dark-2 rounded-switch">
    <button class="z-10 w-1/2 text-base duration-300 bg-transparent lg:text-base hover:text-white" data-action="left">{firstButton}</button>
    <button class="z-10 w-1/2 text-base duration-300 bg-transparent lg:text-base hover:text-white" data-action="right">{secondButton}</button>
    <div id="area" class="absolute top-[6px] left-[6px] w-[48%] h-[80%] transition-transform duration-300 ease-in-out rounded-switch bg-custom-dark-1"></div>
  </div>
</div>

<script>
  interface Button {
    classList: DOMTokenList
    addEventListener(type: string, listener: EventListener): void
  }

  function initialize() {
    const buttons = document.querySelectorAll('button[data-action]')
    const isProjectsPage = window.location.pathname === '/'
    const isWorksPage = window.location.pathname === '/works.html'
    const area = document.getElementById('area')

    buttons.forEach((button, index) => {
      const isButtonOne = index === 0
      const isButtonTwo = index === 1
      button.classList.add(isProjectsPage === isButtonOne ? 'text-white' : 'text-gray-700')
      button.classList.add(isWorksPage === isButtonTwo ? 'text-gray-700' : 'text-white')
    })

    if (area) {
      if (isWorksPage) {
        area.classList.remove('left-[6px]')
        area.classList.add('right-[6px]')
      }
    }
  }

  function switchOperation() {
    const buttons = document.querySelectorAll('button[data-action]')
    const area = document.getElementById('area')

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        buttons.forEach((b) => {
          b.classList.remove('text-white')
          b.classList.add('text-gray-700')
        })

        if (area) {
          const action = button.getAttribute('data-action')
          if (window.location.pathname.startsWith('/works')) {
            area.style.transform = action === 'left' ? 'translateX(-96%)' : 'translateX(0%)'
          } else {
            area.style.transform = action === 'left' ? 'translateX(0%)' : 'translateX(96%)'
          }
        }

        button.classList.remove('text-gray-700')
        button.classList.add('text-white')

        setTimeout(() => {
          if (button.getAttribute('data-action') === 'left') {
            window.location.href = '/'
          } else {
            window.location.href = '/works.html'
          }
        }, 300)
      })
    })
  }

  document.addEventListener('DOMContentLoaded', () => {
    initialize()
    switchOperation()
  })
</script>
