---
import TextMono from './Hero/TextMono.astro'
import Title from './Hero/Title.astro'

interface Props {
  width: string
}

const {width} = Astro.props
---

<div class=`h-screen w-screen absolute inset-0 flex flex-col justify-center mx-auto text-center ${width}`>
  <Title />
  <TextMono content="I'm Maxim Bozhik, HSE design and programming student" classes="lg:w-4/5 lg:mt-7 mx-auto leading-[110%] xl:mt-4 mt-7" />
</div>
