---
import TextMono from './Hero/TextMono.astro'
import Title from './Hero/Title.astro'

interface Props {
  width: string
}

const {width} = Astro.props
---

<div class=`mt-[22.5vh] mx-auto text-center ${width}`>
  <Title />
  <TextMono content="I'm Maxim Bozhik, HSE design and programming student" classes="w-2/5 mx-auto leading-[110%] mt-7" />
</div>
