---
const firstButton = 'Projects'
const secondButton = 'Works'

const buttonStyles = 'grid place-items-center z-10 text-base duration-200 lg:text-sm hover:text-white text-gray-700 w-[48%] h-[80%] ease-in-out rounded-switch'
---

<div class="justify-self-center" transition:persist>
  <div class="relative justify-center items-center flex w-[205px] px-[4px] lg:w-[155px] lg:h-[50px] h-[60px] bg-custom-dark-1 rounded-switch">
    <a id="PROJECTS_LINK" href="/" class={buttonStyles} data-action="left">{firstButton}</a>
    <a id="WORKS_LINK" href="/works/" class={buttonStyles} data-action="right">{secondButton}</a>
  </div>
</div>

<script>
  const links = document.querySelectorAll('a[data-action]')

  function initialize() {
    const isProjectsPage = window.location.pathname === '/'
    const isWorksPage = /^\/works(?:\/|\.astro)?$/.test(window.location.pathname)

    links.forEach((link, index) => {
      const isLinkOne = index === 0
      const isLinkTwo = index === 1

      const textColorClass = (isProjectsPage && isLinkOne) || (isWorksPage && isLinkTwo) ? 'text-white' : 'text-gray-700'
      const bgColorClass = (isProjectsPage && isLinkOne) || (isWorksPage && isLinkTwo) ? 'bg-custom-dark-2' : 'bg-transparent'

      link.classList.add(textColorClass, bgColorClass)
    })
  }

  function switchOperation() {
    const links = document.querySelectorAll('a[data-action]')

    links.forEach((link) => {
      link.addEventListener('click', () => {
        links.forEach((l) => {
          l.classList.toggle('text-white', link === l)
          l.classList.toggle('bg-custom-dark-2', link === l)
          l.classList.toggle('text-gray-700', link !== l)
          l.classList.toggle('bg-transparent', link !== l)
        })
      })
    })
  }

  document.addEventListener('DOMContentLoaded', () => {
    initialize()
    switchOperation()
  })
</script>
