html.cv {
   scroll-behavior: smooth;
}

body.cv {
   background-color: var(--black);
   font-family: 'Montserrat', sans-serif;

   &::-webkit-scrollbar {
      width: 17px;
   }
   &::-webkit-scrollbar-track {
      background: #151515;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #252525;
   }
   & a {
      color: var(--white);
      &:hover {
         color: var(--grey);
      }
   }

   .wrapper {
      margin: 1.5vw;
      max-width: 98%;

      .main {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;

         & h1 {
            font-size: 24vw;
            line-height: 22vw;
            font-weight: 600;
            color: var(--white);

            &:hover {
               color: var(--dye);
            }
         }
         & h2 {
            padding: 10vw 0 0 1.5vw;
            font-size: 3vw;
            font-weight: 500;
            color: var(--white);
         }
      }
      .identity {
         width: 94vw;
         height: 50vw;
         margin: 2vw auto 0vw auto;
         border-radius: 50px;
         // background-color: var(--dye);
         overflow: hidden;
         display: flex;
         justify-content: center;
         align-items: center;

         & img {
            width: 100%;
            height: auto;
            object-fit: contain;
            // max-width: 100%;
            // display: block;
            // width: 100%;
         }
      }
   }
}
