body.cv {
   background-color: var(--black);
   font-family: 'Montserrat', sans-serif;

   &::-webkit-scrollbar {
      width: 17px;
   }
   &::-webkit-scrollbar-track {
      background: var(--low-black);
   }
   &::-webkit-scrollbar-thumb {
      background-color: var(--dark-grey);
   }
   & a {
      color: var(--white);

      &:hover {
         color: var(--grey);
      }
   }

   .header {
      display: flex;
      justify-content: space-between;
      max-width: 97.5vw;
      margin: 1vw;

      & div {
         font-size: 1.4rem;
         font-weight: 500;
      }

      .header-bozhik {
         & span {
            position: relative;
            transition: 0.1s;
            user-select: none;
         }
         & span:hover {
            color: transparent;
         }
         & span:before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: attr(data-replace);
            color: transparent;
            transition: 0.2s;
         }
         & span:hover:before {
            color: var(--grey);
         }
      }
      .header-git {
         text-align: right;
      }
   }

   #boot {
      color: var(--white);
      font-size: 1.2vw;
      font-weight: 400;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      animation: appear-from-bottom 1.25s ease-in-out infinite;
      animation-play-state: paused;

      @keyframes appear-from-bottom {
         0% {
            opacity: 0;
            transform: translate(-50%, 50%);
         }
         70% {
            opacity: 1;
            transform: translate(-50%, -60%);
         }
         100% {
            opacity: 1;
            transform: translate(-50%, -60%);
         }
      }
   }

   // .entry {
   // }
}

@media (max-width: 1024px) {
   body.cv {
      .header {
         padding-top: 0.5vw;
      }
   }
}

@media (max-width: 768px) {
   body.cv {
      .header {
         padding-top: 1vw;
      }
   }
}
