$black: #0a0a0a;
$grey: #5d5d5d;
$white: #dadada;

body.index {
   background-color: var(--black);
   font-family: 'Montserrat', sans-serif;

   .header {
      display: flex;
      justify-content: space-between;
      max-width: 98vw;
      margin: 1vw;

      & div {
         font-size: 1.4rem;
         font-weight: 500;
      }

      & a {
         color: var(--white);
      }
      .header-bozhik {
         & span {
            position: relative;
            transition: 0.1s;
            user-select: none;
         }
         & span:hover {
            color: transparent;
         }
         & span:before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: attr(data-replace);
            color: transparent;
            transition: 0.2s;
         }
         & span:hover:before {
            color: var(--grey);
         }
      }
      .header-works {
         padding-left: 1vw;
      }
      .header-cv {
         text-align: right;
      }
   }

   & h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 390%;
      margin-bottom: -1rem;
      max-width: 50%;
      margin-right: 0;
   }
   & h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 1.3rem;
      margin-top: -1rem;
      max-width: 90%;
      margin-bottom: 2rem;
   }
   & img {
      max-width: 100%;
      display: block;
      width: 100%;
   }
   .item {
      margin: 0 auto;
      padding-right: 10px;
      max-width: 97.7%;
   }
   .footer {
      margin: 0 auto;
      max-width: 98%;
   }

   // item-grid

   .item-grid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
         'skull nft'
         'geek usb'
         'promo inter'
         'anim smpl'
         'star marshal'
         'comp comp';
      grid-column-gap: 0.8rem;
      grid-row-gap: 1rem;
   }
   .item-grid div {
      // border: 2px dashed rgb(109, 167, 21);
      color: var(--white);
   }
   .item-grid img {
      transition: all 0.1s ease;
   }
   .item-grid img:hover {
      outline: 2px solid var(--grey);
   }
   .item-skull {
      grid-area: skull;
   }
   .item-nft {
      grid-area: nft;
   }
   .item-geek {
      grid-area: geek;
   }
   .item-usb {
      grid-area: usb;
   }
   .item-inter {
      grid-area: inter;
   }
   .item-anim {
      grid-area: anim;
   }
   .item-smpl {
      grid-area: smpl;
   }
   .item-star {
      grid-area: star;
   }
   .item-marshal {
      grid-area: marshal;
   }
   .item-comp {
      grid-area: comp;
   }

   // footer-grid

   .footer-grid {
      padding-top: 2.5rem;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      margin-bottom: 0.9rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
   }
   // .footer-grid div {
   //    border: 2px dashed rgb(109, 167, 21);
   // }
   .footer-grid a {
      color: $white;
   }
   .footer-cv {
      padding-top: 1rem;
      text-align: right;
   }
   .footer-mail {
      padding-top: 1rem;
   }

   a:hover {
      color: var(--grey);
   }
}
