@mixin tag($w, $h, $fs, $c, $bc, $p, $g) {
   width: $w;
   height: $h;
   font-size: $fs;
   color: $c;
   background-color: $bc;
   padding: $p;
   gap: $g;
}

@mixin tagConfig {
   display: grid;
   place-content: center;
   position: relative;
   font-weight: 700;
}

html {
   height: 100%;
}

body.index {
   min-height: 100%;
   background-color: var(--black);
   font-family: 'Montserrat', sans-serif;

   &::-webkit-scrollbar {
      width: 17px;
   }
   &::-webkit-scrollbar-track {
      background: var(--low-black);
   }
   &::-webkit-scrollbar-thumb {
      background-color: var(--dark-grey);
   }
   & a {
      color: var(--white);
      &:hover {
         color: var(--grey);
      }
   }

   .header {
      display: flex;
      justify-content: space-between;
      max-width: 97.5vw;
      margin: 1vw 1vw 1vw 1.5vw;

      & div {
         font-size: 1.4rem;
         font-weight: 500;
      }

      .header-bozhik {
         & span {
            position: relative;
            transition: 0.1s;
            user-select: none;
         }
         & span:hover {
            color: transparent;
         }
         & span:before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: attr(data-replace);
            color: transparent;
            transition: 0.2s;
         }
         & span:hover:before {
            color: var(--grey);
         }
      }
      .header-works {
         padding-left: 1vw;
      }
      .header-cv {
         text-align: right;
      }
   }

   .item {
      margin: 0 auto;
      padding-right: 13px;
      max-width: 97vw;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 1fr;
      grid-template-areas:
         'hotkeys shortcuts'
         'some skull'
         'inter modify'
         'geek usb'
         'anim smpl'
         'star marshal'
         'comp comp';
      grid-column-gap: 0.8vw;
      grid-row-gap: 1vw;

      & h1 {
         font-weight: 400;
         font-size: 4rem;
         max-width: 50%;
      }
      & h2 {
         font-weight: 500;
         font-size: 1.5rem;
         max-width: 90%;
      }

      & div {
         color: var(--white);
      }

      & img {
         max-width: 100%;
         display: block;
         width: 100%;
         transition: all 0.1s ease;
         &:hover {
            outline: 2px solid var(--grey);
         }
      }
      & .tags {
         margin: -1rem 0 1rem 0;
      }

      .item-hotkeys {
         grid-area: hotkeys;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;
               @include tagConfig;
               @include tag(3.65vw, 2.08vw, 1vw, var(--web), var(--web-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-shortcuts {
         grid-area: shortcuts;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;
               @include tagConfig;
               @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-some {
         grid-area: some;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               gap: 0.5vw;

               // & a:nth-child(1) {
               //    & div {
               //       opacity: 0;
               //       @include tagConfig;
               //       @include tag(3.65vw, 2.08vw, 1vw, var(--web), var(--web-bg), 0.35vw 0.65vw, 0.52vw);
               //    }
               // }
               & a:nth-child(1) {
                  & div {
                     opacity: 0;
                     @include tagConfig;
                     @include tag(2.5vw, 2.08vw, 1vw, var(--js), var(--js-bg), 0.35vw 0.65vw, 0.52vw);
                  }
               }
            }
         }

         &:hover div > a:nth-child(1) > div,
         &:hover div > a:nth-child(2) > div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-inter {
         grid-area: inter;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               gap: 0.5vw;

               // & a:nth-child(1) {
               //    & div {
               //       opacity: 0;
               //       @include tagConfig;
               //       @include tag(3.65vw, 2.08vw, 1vw, var(--web), var(--web-bg), 0.35vw 0.65vw, 0.52vw);
               //    }
               // }
               & a:nth-child(1) {
                  & div {
                     opacity: 0;
                     @include tagConfig;
                     @include tag(2.5vw, 2.08vw, 1vw, var(--js), var(--js-bg), 0.35vw 0.65vw, 0.52vw);
                  }
               }
            }
         }

         &:hover div > a:nth-child(1) > div,
         &:hover div > a:nth-child(2) > div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-modify {
         grid-area: modify;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;

               @include tagConfig;
               @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-skull {
         grid-area: skull;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               gap: 0.5vw;

               & a:nth-child(1) {
                  & div {
                     opacity: 0;
                     @include tagConfig;
                     @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
                  }
               }
               & a:nth-child(2) {
                  & div {
                     opacity: 0;
                     @include tagConfig;
                     @include tag(2.5vw, 2.08vw, 1vw, var(--js), var(--js-bg), 0.35vw 0.65vw, 0.52vw);
                  }
               }
            }
         }

         &:hover div > a:nth-child(1) > div,
         &:hover div > a:nth-child(2) > div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-geek {
         grid-area: geek;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;

               @include tagConfig;
               @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-usb {
         grid-area: usb;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               gap: 0.5vw;

               & a:nth-child(1) {
                  & div {
                     opacity: 0;
                     @include tagConfig;
                     @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
                  }
               }
               & a:nth-child(2) {
                  & div {
                     opacity: 0;
                     @include tagConfig;
                     @include tag(2.5vw, 2.08vw, 1vw, var(--3d), var(--3d-bg), 0.35vw 0.65vw, 0.52vw);
                  }
               }
            }
         }

         &:hover div > a:nth-child(1) > div,
         &:hover div > a:nth-child(2) > div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-anim {
         grid-area: anim;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;
               @include tagConfig;
               @include tag(3.65vw, 2.08vw, 1vw, var(--web), var(--web-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-smpl {
         grid-area: smpl;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;
               @include tagConfig;
               @include tag(3.65vw, 2.08vw, 1vw, var(--web), var(--web-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-star {
         grid-area: star;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;
               @include tagConfig;
               @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-marshal {
         grid-area: marshal;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;
               @include tagConfig;
               @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }

      .item-comp {
         grid-area: comp;

         .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & div {
               opacity: 0;
               @include tagConfig;
               @include tag(5.21vw, 2.08vw, 1vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
            }
         }

         &:hover div {
            opacity: 1;
            transition: 0.5s ease-out;
         }
      }
   }

   .footer {
      max-width: 97vw;
      margin: 0 auto;
      padding-top: 3.5rem;
      padding-bottom: 1rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: end;
   }
}

@media (max-width: 1024px) {
   body.index {
      .header {
         .header-cv {
            padding-right: 0.5vw;
         }
      }
   }
}

@media (max-width: 768px) {
   body.index {
      .header {
         padding-top: 1vw;
         .header-cv {
            padding-right: 0.5vw;
         }
      }
      .item {
         margin: 2vw;
         padding-right: 0px;
         max-width: 97vw;
         display: flex;
         flex-direction: column;

         .item-hotkeys,
         .item-anim,
         .item-smpl {
            .tags {
               & div {
                  @include tag(9.65vw, 5.08vw, 2.4vw, var(--web), var(--web-bg), 0.35vw 0.65vw, 0.52vw);
               }
            }
         }

         .item-shortcuts,
         .item-geek,
         .item-star,
         .item-marshal,
         .item-comp,
         .item-modify {
            .tags {
               & div {
                  @include tag(13.21vw, 5.08vw, 2.4vw, #ec4899, #ec489a10, 0.35vw 0.65vw, 0.52vw);
               }
            }
         }

         .item-inter {
            .tags {
               & div {
                  gap: 1vw;
                  & a:nth-child(1) {
                     & div {
                        @include tag(9.65vw, 5.08vw, 2.4vw, var(--web), var(--web-bg), 0.35vw 0.65vw, 0.52vw);
                     }
                  }
                  & a:nth-child(2) {
                     & div {
                        @include tag(5.5vw, 5.08vw, 2.4vw, var(--js), var(--js-bg), 0.35vw 0.65vw, 0.52vw);
                     }
                  }
               }
            }
         }

         .item-skull {
            .tags {
               & div {
                  gap: 1vw;
                  & a:nth-child(1) {
                     & div {
                        @include tag(13.21vw, 5.08vw, 2.4vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
                     }
                  }
                  & a:nth-child(2) {
                     & div {
                        @include tag(5.5vw, 5.08vw, 2.4vw, var(--js), var(--js-bg), 0.35vw 0.65vw, 0.52vw);
                     }
                  }
               }
            }
         }

         .item-usb {
            .tags {
               & div {
                  gap: 1vw;
                  & a:nth-child(1) {
                     & div {
                        @include tag(13.21vw, 5.08vw, 2.4vw, var(--design), var(--design-bg), 0.35vw 0.65vw, 0.52vw);
                     }
                  }
                  & a:nth-child(2) {
                     & div {
                        @include tag(5.5vw, 5.08vw, 2.4vw, var(--js), var(--js-bg), 0.35vw 0.65vw, 0.52vw);
                     }
                  }
               }
            }
         }
      }
   }
}

//9/3/1.4
