body.tag {
   background-color: var(--black);
   font-family: 'Montserrat', sans-serif;

   &::-webkit-scrollbar {
      width: 17px;
   }
   &::-webkit-scrollbar-track {
      background: var(--low-black);
   }
   &::-webkit-scrollbar-thumb {
      background-color: var(--dark-grey);
   }

   & a {
      color: var(--white);
      &:hover {
         color: var(--grey);
      }
   }

   & img {
      max-width: 100%;
      display: block;
      width: 100%;
   }

   .header {
      display: flex;
      justify-content: space-between;
      max-width: 97.5vw;
      margin: 1vw 1vw;

      & div {
         font-size: 1.4rem;
         font-weight: 500;
      }

      .header-bozhik {
         & span {
            position: relative;
            transition: 0.1s;
            user-select: none;
         }
         & span:hover {
            color: transparent;
         }
         & span:before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: attr(data-replace);
            color: transparent;
            transition: 0.2s;
         }
         & span:hover:before {
            color: var(--grey);
         }
      }
      .header-works {
         padding-left: 1vw;
      }
      .header-cv {
         text-align: right;
      }
   }

   .footer {
      max-width: 98vw;
      margin: 0 auto;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: end;
   }

   .wrapper {
      margin: 0 auto;
      max-width: 98%;
      margin-top: 1.1rem;
   }
}

@media (max-width: 768px) {
   body.tag {
      .wrapper {
         background-color: var(--design);
      }
   }
}
