---
interface Props {
  classes?: string
}

const {classes} = Astro.props as Props

const badgeTitle = 'NEW'
export const badgeStyles = 'p-1 px-[6px] text-sm leading-4 border rounded border-neutral-700 bg-neutral-800 text-neutral-100'
---

<div class="absolute pt-2 left-16 sm:left-auto sm:right-6 sm:top-[34px] top-10 s-fit animate-pulse text-base sm:text-sm" class:list={[badgeStyles, classes]}>{badgeTitle}</div>
